body {
    margin: 0;
    padding: 0;
    font-family: "Open Sans", "Helvetica", "Arial", sans-serif;
    overflow: hidden;
}

#loadingScreen {
    position: fixed;
    z-index: 1000;
    background: #fff;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

#content {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: stretch;
    height: 100vh;
    width: 100vw;
}

#map {
    width: 66%;
    height: 100%;
    flex-grow: 1;
}

#leaderboard {
    z-index: 5;
    width: 34%;
    max-width: 300px;
    height: 100%;
    background: #fff;
    box-shadow: 0 0 5px 2px rgba(0,0,0,0.2);
    position: relative;
}

#createdBy {
    position: absolute;
    left: 0;
    bottom: 8px;
    transform: translate(calc(-100% - 8px), 0);
    outline: #000;
    color: #444;
    text-decoration: none;
}

#filters {
    position: absolute;
    left: -38px;
    width: 30px;
    height: 30px;
}

#filter-expand {
    width: 30px;
    height: 30px;
    margin-top: 8px;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hidden {
    display: none;
}

.filter-card {
    position: absolute;
    margin-top: 8px;
    right: 0;
}

button {
    box-shadow: 0 1px 3px 0 rgba(0,0,0,0.2), 0 1px 1px 0 rgba(0,0,0,0.14), 0 2px 1px -1px rgba(0,0,0,0.12);
    border: none;
    border-radius: 3px;
    padding: 8px;
    background: #fff;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,border 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

button:focus {
    outline: none;
}

button:hover {
    background: #aaa;
    cursor: pointer;
}

.card {
    box-shadow: 0 1px 3px 0 rgba(0,0,0,0.2), 0 1px 1px 0 rgba(0,0,0,0.14), 0 2px 1px -1px rgba(0,0,0,0.12);
    border: none;
    border-radius: 3px;
    padding: 8px;
    background: #fff;
    overflow: hidden;
}

.list {
    display: flex;
    flex-direction: column;
}

.list-title {
    display: flex;
    align-items: center;
    border-bottom: 1px solid rgba(0,0,0,0.12);
    background: linear-gradient(90deg,rgb(174, 45, 172),rgb(218, 54, 150));
    color: #fff;
}

.list-item {
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,border 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    display: flex;
    padding: 11px 16px;
    align-items: center;
    width: 100%;
    position: relative;
    box-sizing: border-box;
    text-align: left;
    justify-content: flex-start;
    text-decoration: none;
    border-radius: 0;
}

.highlighted {
    background: rgba(0,0,0,0.12);
    border-radius: 3px;
}

.list-item:hover {
    background: rgba(0,0,0,0.12);
    cursor: pointer;
    border-radius: 3px;
}

.list-item-icon {
    width: 40px;
    height: 40px;
    display: flex;
    position: relative;
    overflow: hidden;
    font-size: 1.25rem;
    align-items: center;
    flex-shrink: 0;
    user-select: none;
    border-radius: 50%;
    justify-content: center;
}

.position-1 { background: rgba(255,223,0,0.3); }
.position-2 { background: rgba(192,192,192,0.3); }
.position-3 { background: rgba(205, 127, 50, 0.3); }

.list-item-title {
    color: rgba(0, 0, 0, 0.87);
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.00938em;
}

.list-item-secondary {
    color: rgba(0, 0, 0, 0.54);
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.01071em;
}

.list-secondary {
    display: flex;
    flex-direction: column;
    margin-left: 16px;
}

.title {
    flex-grow: 1;
    text-align: center;
}

.remove-shadow {
    box-shadow: none;
}

#menu {
    right: 0;
    top: 0;
    display: flex;
    height: 100%;
    align-items: stretch;
    z-index: 100;
    color: #000;
}

#menu #menu-toggle {
    padding: 16px;
    top: 0;
    right: 0;
    justify-self: flex-end;
    align-items: flex-end;
    border-radius: 0;
    box-shadow: none;
    background: none;
    color: #fff;
}

#hamburger {
    height: 50px;
    width: 30px;
    padding: 0 5px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
}

.burger {
    height: 3px;
    border-radius: 3px;
    background: #fff;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    opacity: 1;

}

.burger1 {
    margin-bottom: 5px;
}

.burger3 {
    margin-top: 5px;
}

#hamburger.open .burger1 {
    transform: rotate(45deg) translate(0, 11px);
}

#hamburger.open .burger2 {
    opacity: 0;
}

#hamburger.open .burger3 {
    transform: rotate(-45deg) translate(0,-11px);
}

.side-menu {
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    padding: 0;
    overflow: hidden;
    position: absolute;
    right: -300px;
    transition: right 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    top: 50px;
}

.menu-open {
    right: 0;
}

.menu-topper {
    border-bottom: 1px rgba(0,0,0,0.15) solid;
    display: flex;
}

.hide-button {
    border-radius: 0;
    padding: 16px;
    border-right: 1px rgba(0,0,0,0.15) solid;
}

.menu-item {
    padding: 16px 8px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,border 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

.menu-item:hover {
    background: #aaa;
    cursor: pointer;
}

#mileageBack {
    width: 100vw;
    height: 100vh;
    position: fixed;
    background: rgba(0,0,0,0.42);
    z-index: 1000;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

#dialogContainer {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 20000;
    width: 50%;
    max-width: 300px;
    min-width: 100px;
    display: flex;
    flex-direction: column;
    padding: 0;
}

.card-content {
    padding: 8px;
    display: flex;
    flex-direction: column;
}

.card-topper {
    display: flex;
    border-bottom: 1px solid rgba(0,0,0,0.07);
    margin-bottom: 8px;
    padding: 8px;
    align-items: center;
}

.topper-title {
    flex-grow: 1;
    font-size: 1.2em;
}

.input-couple {
    display: flex;
    flex-direction: column;
    margin-bottom: 8px;
}

.input-couple input {
    -webkit-appearance: none;
    border: none;
    padding: 8px;
    background: rgba(0,0,0,0.07);
    border-radius: 3px;
    margin-top: 8px;
}

.input-couple input:focus {
    outline: none;
    border-bottom-color: #3355bb;
}

#category {
    padding: 8px 8px 8px 3px;
    border: none;
    background: rgba(0,0,0,0.07);
    border-radius: 3px;
    margin-top: 8px;
    text-align: left;
}

#mileageSubmit {
    margin-top: 16px;
    background: #3355bb;
    color: #fff;
}

#mileageSubmit:hover {
    background: #1c3067;
    cursor: pointer;
}

.checkbox-svg {
    fill: currentColor;
    width: 1em;
    height: 1em;
    display: inline-block;
    font-size: 24px;
    transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    user-select: none;
    flex-shrink: 0;
}

.hidden-svg {
    display: none;
}

.checkbox {
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid currentColor;
    border-radius: 3px;
    color: #3355bb;
    height: 20px;
    width: 20px;
    margin-right: 8px;
}

@media screen and (max-width: 500px) {
    .side-menu {
        width: 100vw;
        border-radius: 0;
        height: 100vh;
        right: -100vw;
    }

    .menu-open {
        right: 0;
    }

    #dialogContainer {
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        max-width: unset;
        transform: none;
    }

    .card-content {
        padding: 16px;
    }
}

@media screen and (max-width: 800px) {
    #content {
        flex-direction: column;
    }

    #map {
        width: 100vw;
        height: 50vh;
    }

    #leaderboard {
        width: 100vw;
        height: 50vh;
        max-width: unset;
    }
}

.lds-dual-ring {
    display: inline-block;
    width: 64px;
    height: 64px;
}
.lds-dual-ring:after {
    content: " ";
    display: block;
    width: 46px;
    height: 46px;
    margin: 1px;
    border-radius: 50%;
    border: 5px solid #35b;
    border-color: #35b transparent #35b transparent;
    animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}